<div data-vote-sleepy-background aria-hidden="true" class="vote-sleepy-background">
    <div class="vote-sleepy-canvas vote-sleepy-symmetry">
        <div class="vote-sleepy-wall vote-sleepy-transform"></div>
        <div class="vote-sleepy-wall-2 vote-sleepy-transform"></div>
        <div class="vote-sleepy-cabinet vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-cabinet-p1 vote-sleepy-transform"></div>
            <div class="vote-sleepy-cabinet-p2 vote-sleepy-transform"></div>
            <div class="vote-sleepy-cabinet-p3 vote-sleepy-transform">
                <div class="vote-sleepy-drawer vote-sleepy-pseudo vote-sleepy-symmetry"></div>
                <div class="vote-sleepy-drawer vote-sleepy-pseudo vote-sleepy-symmetry"></div>
                <div class="vote-sleepy-drawer vote-sleepy-pseudo vote-sleepy-symmetry"></div>
            </div>
            <div class="vote-sleepy-cabinet-p4 vote-sleepy-transform"></div>
            <div class="vote-sleepy-cabinet-p5 vote-sleepy-transform"></div>
            <div class="vote-sleepy-cabinet-p6 vote-sleepy-transform"></div>
        </div>
        <div class="vote-sleepy-bed vote-sleepy-symmetry">
            <div class="vote-sleepy-bed-p4 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-bed-p1 vote-sleepy-symmetry vote-sleepy-transform vote-sleepy-pseudo"></div>
            <div class="vote-sleepy-bed-p2 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-bed-p3 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-bed-p5 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-bed-p6 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-bed-p7 vote-sleepy-symmetry vote-sleepy-transform"></div>
        </div>
        <div class="vote-sleepy-pillow vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-pillow-p1 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p2 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p3 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p4 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p5 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p6 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p7 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p8 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p9 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p10 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p11 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p12 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p13 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p14 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p15 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p16 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p17 vote-sleepy-transform"></div>
            <div class="vote-sleepy-pillow-p18 vote-sleepy-transform"></div>
        </div>
        <div class="vote-sleepy-blob vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-blob-body vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-blob-p1 vote-sleepy-transform"></div>
            </div>
            <div class="vote-sleepy-blob-face vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-blob-face-animation vote-sleepy-symmetry">
                    <div class="vote-sleepy-blob-eye vote-sleepy-transform"></div>
                    <div class="vote-sleepy-blob-eye vote-sleepy-blob-eye-2 vote-sleepy-transform"></div>
                    <div class="vote-sleepy-blob-mouth vote-sleepy-symmetry vote-sleepy-transform">
                        <div class="vote-sleepy-mouth-snore vote-sleepy-pseudo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vote-sleepy-blanket vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-blanket-p4 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p5 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p1 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p2 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p3 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p10 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p9 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p7 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p8 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-blanket-p6 vote-sleepy-symmetry vote-sleepy-transform"></div>
            <div class="vote-sleepy-star vote-sleepy-star-1 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-2 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-3 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-4 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-5 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-6 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-7 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-8 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-9 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-10 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-11 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
            <div class="vote-sleepy-star vote-sleepy-star-12 vote-sleepy-pseudo vote-sleepy-symmetry vote-sleepy-transform">
                <div class="vote-sleepy-star-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-horizontal"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-vertical"></div>
                <div class="vote-sleepy-star-p1 vote-sleepy-flip-diagonal"></div>
            </div>
        </div>
        <div class="vote-sleepy-hat vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-hat-animation vote-sleepy-symmetry">
                <div class="vote-sleepy-hat-p19 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-p20 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-p21 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-p16 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-p17 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-p18 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p8 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p9 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p6 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p5 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p2 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p3 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p1 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p4 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base vote-sleepy-hat-p7 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base-2 vote-sleepy-hat-p10 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base-2 vote-sleepy-hat-p11 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base-2 vote-sleepy-hat-p12 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base-2 vote-sleepy-hat-p13 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-base-2 vote-sleepy-hat-p14 vote-sleepy-transform"></div>
                <div class="vote-sleepy-hat-p22 vote-sleepy-transform"></div>
            </div>
        </div>
        <div class="vote-sleepy-blob-hands vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-blob-hand vote-sleepy-transform"></div>
            <div class="vote-sleepy-blob-hand-2 vote-sleepy-transform"></div>
        </div>
        <div class="vote-sleepy-lamp vote-sleepy-symmetry vote-sleepy-transform">
            <div class="vote-sleepy-lamp-base vote-sleepy-transform"></div>
            <div class="vote-sleepy-lamp-body vote-sleepy-transform"></div>
            <div class="vote-sleepy-lamp-cone vote-sleepy-transform"></div>
            <div class="vote-sleepy-lamp-cone-top vote-sleepy-transform"></div>
        </div>
    </div>
</div>
