<div class="flex items-center gap-3 px-5.5 py-4">
    <button type="button" disabled aria-disabled="true" aria-label="Mute this layer" class="btn btn-xs btn-circle border-none bg-neutral-content text-white disabled:cursor-not-allowed">
        <svg class="fill-current size-[1.7em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3,9H7L12,4V20L7,15H3V9M16.59,12L14,9.41L15.41,8L18,10.59L20.59,8L22,9.41L19.41,12L22,14.59L20.59,16L18,13.41L15.41,16L14,14.59L16.59,12Z" /></svg>
    </button>
    <input type="range" min="0" max="100" :value="gainPercent" disabled aria-disabled="true" tabindex="-1" aria-label="Current layer volume" class="range range-xs range-warning pointer-events-none opacity-40" />
    <button type="button" disabled aria-disabled="true" aria-label="Isolate this layer" class="btn btn-xs btn-circle shrink-0 border-none bg-neutral-content text-white disabled:cursor-not-allowed">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="size-[1.5em] fill-current"><path d="M160-200v-280q0-66 25-124.5t68.5-102Q297-750 355.5-775T480-800q66 0 124.5 25t102 68.5Q750-663 775-604.5T800-480v280H640v-240h80v-40q0-100-70-170t-170-70q-100 0-170 70t-70 170v40h80v240H160Z" /></svg>
    </button>
</div>
