<c-vars oob="" />
<c-core-user-details :oob="oob">
    <c-slot name="indicator">
        <span x-data="{ shown: false, choice: new URLSearchParams(window.location.search).get('choice') }"
              @vote-success.window="shown = true"
              :class="(choice === '1' ? 'bg-success' : 'bg-error') + (shown ? ' opacity-100' : ' opacity-0')"
              class="indicator-item badge badge-sm rounded-full aspect-square p-0 text-white border-0 ring-2 ring-white transition-opacity duration-300">
            <svg x-show="choice === '1'"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20"
                 fill="currentColor"
                 class="size-3">
                <path d="M2 10.5a1.5 1.5 0 1 1 3 0v6a1.5 1.5 0 0 1-3 0v-6ZM6 10.333v5.43a2 2 0 0 0 1.106 1.79l.05.025A4 4 0 0 0 8.943 18h5.416a2 2 0 0 0 1.962-1.608l1.2-6A2 2 0 0 0 15.56 8H12V4a2 2 0 0 0-2-2 1 1 0 0 0-1 1v.667a4 4 0 0 1-.8 2.4L6.8 7.933a4 4 0 0 0-1.506 2.4Z" />
            </svg>
            <svg x-show="choice === '0'"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20"
                 fill="currentColor"
                 class="size-3">
                <path d="M18 9.5a1.5 1.5 0 1 1-3 0v-6a1.5 1.5 0 0 1 3 0v6ZM14 9.667v-5.43a2 2 0 0 0-1.105-1.79l-.05-.025A4 4 0 0 0 11.055 2H5.64a2 2 0 0 0-1.962 1.608l-1.2 6A2 2 0 0 0 4.44 12H8v4a2 2 0 0 0 2 2 1 1 0 0 0 1-1v-.667a4 4 0 0 1 .8-2.4l1.4-1.866a4 4 0 0 0 1.505-2.4Z" />
            </svg>
        </span>
    </c-slot>
    <li>
        <a href="{% url 'app:home_page' %}">Library</a>
    </li>
    <li>
        <button type="button" hx-get="{% url 'login:logout_modal' %}" hx-swap="none">Log out</button>
    </li>
</c-core-user-details>
