<button type="button" @click="move(-1)" :disabled="isFirst" aria-label="Previous carousel panel" class="text-amber-600 stroke-white disabled:text-neutral-600 disabled:stroke-neutral-500 w-20 absolute z-10 -left-11.5 top-1/2 -translate-y-1/2 flex items-center justify-center cursor-pointer disabled:cursor-not-allowed scale-x-75 scale-y-150">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 -960 960 960" fill="currentColor"><path d="M560-280 360-480l200-200v400Z" stroke-width="40" stroke-linejoin="round" /></svg>
</button>
<button type="button" @click="move(1)" :disabled="isLast" aria-label="Next carousel panel" class="text-amber-600 stroke-white disabled:text-neutral-600 disabled:stroke-neutral-500 w-20 absolute z-10 -right-11.5 top-1/2 -translate-y-1/2 flex items-center justify-center cursor-pointer disabled:cursor-not-allowed scale-x-75 scale-y-150">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 -960 960 960" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z" stroke-width="40" stroke-linejoin="round" /></svg>
</button>
