<c-vars post="" comments_page="" comment_body="" comment_errors="" comment_count="0" has_commented="" pagination_items="" />
{% url 'explore:discussion' slug=post.slug as discussion_url %}
{% url 'explore:create_comment' slug=post.slug as comment_url %}
<c-core-discussion :discussion_url="discussion_url"
                   comment_url="{{ comment_url }}?post={{ post.post.slug }}"
                   dom_id="explore-discussion-{{ post.pk }}"
                   :comments_page="comments_page"
                   :comment_body="comment_body"
                   :comment_errors="comment_errors"
                   :comment_count="comment_count"
                   :has_commented="has_commented"
                   :pagination_items="pagination_items" />
